.vs/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd

Log/

.nexus-map/

Config/config.ini

ImageProcessing/*.onnx

JakaPyLib/*.dll
JakaPyLib/*.pyd
JakaPyLib/*.lib
JakaPyLib/*.exp

pic/**
!pic/README.md
!pic/cam1/
!pic/cam1/.gitkeep
!pic/biaoding1/
!pic/biaoding1/.gitkeep
!pic/result/
!pic/result/.gitkeep

Thumbs.db
Desktop.ini
